@import './partials/variables';
@import 'editor.scss';

#logo {
	margin-bottom: 0;
}

p.sentence {
	text-align: center;
	margin: 35px 0 55px 0;
	font-weight: bold;
}

h1 {
	text-align: center;
	margin: 25px 0 0 0;
	font-size: 2em;

	&.disabled {
		font-size: 1.2em;
		color: $secondary_color_lighter;
	}

	span {
		color: $primary_color;
	}
}

div.controls {
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		fill: $secondary_color_light;
		animation: fill .3s ease-in-out;

		:hover {
			fill: $secondary_color_lighter;
		}
		&.caret {
			width: 1.6em;
			height: 1.6em;

			&.right {
				transform: rotate(180deg);
			}
		}
		&.today {
			width: 1.2em;
			height: 1.2em;
			margin: 0 3px;
		}
	}
}

div.calendars {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	padding: 25px 0;
	justify-content: center;

	&.disabled {
		padding: 15px 0;
		gap: 15px;
	}
}

div.calendar {
	display: inline-block;
	// calendar size + padding + border
	max-width: calc(16.75em + 44px);

	div.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		p.name {
			color: $white;
			margin: 0 5px 0 0;
			font-weight: bold;
			font-size: 1.2em;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	div.calendar_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		p.name {
			color: $white;
			margin: 0 5px 0 0;
			font-weight: bold;
			font-size: 1.2em;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		div.calendar_controls {
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				fill: $secondary_color_light;
				animation: fill .3s ease-in-out;

				:hover {
					fill: $secondary_color_lighter;
				}
				&.caret {
					width: 1.6em;
					height: 1.6em;

					&.right {
						transform: rotate(180deg);
					}
				}
				&.today {
					width: 1.2em;
					height: 1.2em;
					margin: 0 3px;
				}
			}
		}
	}

	div.calendar_body {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 16.75em;
		height: 18.75em;
		border: solid 2px $secondary_color_light;
		border-radius: 15px;
		padding: 20px;
		box-sizing: border-box;

		div.calendar_info {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			width: 100%;
			margin: -5px 0 10px 0;

			p.calendar_month {
				color: $white;
				margin: 0;
				font-size: 1em;
			}

			div.streaks {
				display: flex;
				align-items: center;

				p {
					color: $secondary_color_lighter;
					font-weight: bold;
					margin: 0;
					font-size: 1.3em;
					margin: 0 3px 0 0;
				}
				svg {
					width: 1.7em;
					height: 1.7em;
					fill: $secondary_color_light;
					margin-top: -5px;

					&.expended {
						fill: $primary_color;
					}
				}
			}
		}

		div.calendar_days {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			width: fit-content;
			grid-gap: 5px;
			list-style-type: none;
			padding: 0;

			button.calendar_day, div.calendar_dayname {
				display: flex;
				justify-content: center;
				align-items: center;

				width: 1.8em;
				height: 1.8em;
			}

			div.calendar_dayname {
				font-weight: bold;
				font-size: .9em;
				color: $secondary_color_light;
			}

			button.calendar_day {
				border-radius: 50%;
				background: $secondary_color;
				color: $secondary_color_lighter;

				transition: background .2s ease-in-out;

				span {
					border: none;
					background: none;
					margin-top: 3px;
				}

				&.future {
					cursor: auto;
				}

				&.loading:not(.future) {
					$loading_start_color: #354246;
					$loading_end_color: $secondary_color_light;

					background: $loading_start_color;
					@keyframes blink {
						0% {
							background: $loading_start_color;
						}
						25% {
							background: $loading_end_color;
						}
						50% {
							background: $loading_start_color;
						}
						75% {
							background: $loading_end_color;
						}
						100% {
							transform: $loading_start_color;
						}
					}
					animation: blink 2s ease-in-out infinite;
				}

				&.success:not(.future) {
					color: $success_color;
					background: $success_background;
				}
				&.fail:not(.future) {
					color: $fail_color;
					background: $fail_background;
				}
				&.freeze:not(.future) {
					color: $freeze_color;
					background: $freeze_background;
				}
				&.breakday:not(.future) {
					color: $breakday_color;
					background: $breakday_background;
				}
			}
		}
	}

	div.set_state_overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: $overlay_background;
		z-index: 1;

		div.set_state_box {
			display: block;
			background: #2f4044;
			position: absolute;
			padding: 15px;
			border: solid 2px $secondary_color_light;
			border-radius: 15px;

			button {
				display: block;
				margin: 0;
				font-weight: bold;
				background: 0;
				border: none;
				width: initial;
				padding: 0;

				&:not(:last-child) {
					margin-bottom: 7px;
				}

				&::before {
					content: "";
					display: inline-block;
					width: 1.2em;
					height: 1.2em;
					margin-right: 5px;
					vertical-align: sub;
					border-radius: 50%;
				}

				&.set_success {
					color: $success_text;
					&::before {
						background: $success_text
					}
				}
				&.set_freeze {
					color: $freeze_text;
					&::before {
						background: $freeze_text
					}
				}
				&.set_fail {
					color: $fail_text;
					&::before {
						background: $fail_text
					}
				}
			}

			div {
				display: flex;
				cursor: pointer;

				p {
					margin: 0 0 0 5px;
					font-weight: bold;
				}
				svg {
					width: 1.2em;
					height: 1.2em;
				}

				&:not(:last-child) {
					margin-bottom: 5px;
				}

				&.set_success {
					p {
						color: $success_background;
					}
					svg {
						fill: $success_background;
					}
				}
				&.set_freeze {
					p {
						color: $success_background;
					}
					svg {
						fill: $success_background;
					}
				}
				&.set_fail {
					p {
						color: $success_background;
					}
					svg {
						fill: $success_background;
					}
				}
			}
			svg.spinner {
				width: 1.3em;
				height: 1.3em;
				fill: $secondary_color_lighter;
			}
		}
	}
}

div.disabled_calendar, div.disabled_progress {
	display: flex;
	flex-direction: column;
	width: 16.75em;
	box-sizing: border-box;
	border: solid 2px $secondary_color_light;
	border-radius: 15px;
	padding: 10px;

	p.name {
		margin: 0;
		color: $secondary_color_lighter;
	}
}

div.progresses {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	padding: 25px 0;
	justify-content: center;

	div.progress {
		flex: 1;
	}

	&.disabled {
		padding: 15px 0;
		gap: 15px;
	}
}

div.progress {
	max-width: 25em;
	min-width: 18em;
	border: solid 2px #425d64;
	border-radius: 15px;
	padding: 20px;

	margin-top: 14px;

	div.header_wrapper {
		display: flex;
		justify-content: center;
		margin-top: -34px;
		margin-right: 5px;
		margin-left: 5px;

		div.header {
			display: flex;
			align-items: center;
			justify-content: center;
			background: $secondary_color;
			padding: 0 10px;
			max-width: 100%;

			p.name {
				margin: 0 10px;
				font-size: 1.2em;
				font-weight: bold;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			button.add_measure {
				background: unset;
				padding: unset;
				border: unset;
				border-radius: unset;
				width: 1.7em;
				height: 1.7em;

				&:hover {
					svg {
						fill: $secondary_color_lighter;
					}
				}

				svg {
					width: 1.5em;
					height: 1.5em;
					fill: $primary_color;
					animation: fill .3s ease-in-out;
				}
			}
		}
	}

	div.date_controls_wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px 0 15px 0;

		span.time_range {
			flex: 1;
			margin-right: 15px;
		}
	}

	.progress_bar {
		position: relative;
		height: 20px;
		background: $secondary_color_light;
		border-radius: 50px;
		overflow: hidden;

		.progress_bar_fill {
			background: $primary_color;
			border-radius: 50px;
			height: 100%;
		}

		.progress_bar_label {
			position: absolute;
			font-weight: bold;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	div.progress_details {
		display: flex;
		gap: 25px;
		margin-top: 15px;

		p {
			margin: 0;
		}
	}

	div.add_measure_overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: $overlay_background;
		z-index: 1;

		div.add_measure_box {
			position: absolute;
			transform: translate(-50%, -50%);
			display: block;
			background: #2f4044;
			padding: 15px;
			border: solid 2px $secondary_color_light;
			border-radius: 15px;
			width: 9em;

			svg.spinner {
				width: 1.3em;
				height: 1.3em;
				fill: $secondary_color_lighter;
			}
		}
	}
}
