@import './partials/variables';

.calendar-editor, .delete-confirm-popup {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 100%;
	min-height: 100%;
	background: $secondary_color;
	z-index: 1;
	overflow-y: scroll;

	.calendar-editor-inner, .delete-confirm-popup-inner {
		max-width: 25rem;
		margin: 5rem 25px 0 25px;
		width: 100%;
	}

	button.close {
		background: none;
		border: none;
		padding: 0;
		margin: 0;
		width: initial;
		float: right;
		margin: -25px -8px 15px 15px;

		&:hover {
			svg {
				fill: $secondary_color_lighter;
				stroke: $secondary_color_lighter;
			}
		}

		svg {
			stroke: $white;
			animation: fill .3s ease-in-out;
			cursor: pointer;
			width: 2em;
			height: 2em;
		}
	}

	h1 {
		word-break: break-word;
	}

	h1 .span {
		color: $primary_color;
	}

	.calendar-id {
		font-size: .9rem;
		font-weight: bold;
		color: $secondary_color_lighter;
		text-align: center;
	}

	.form-group {
		& > label, &> p.label {
			font-weight: bold;
			margin-bottom: 5px;
			display: block;
		}

		& > p.group-title {
			font-weight: bold;
			margin-top: 2rem;
			font-size: 1.2rem;
		}

		&.toggle-group {
			display: flex;
			justify-content: start;
			align-items: center;
			gap: 15px;

			label {
				margin-bottom: 0;
			}

			.toggle {
				transform: scale(.8);
			}
		}
	}

	.agenda-days {
		display: flex;
		gap: 5px;
		margin-top: 10px;

		.agenda-day {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.8em;
			height: 1.8em;
			background: $success_background;
			border-radius: 50%;

			&.disabled {
				background: $breakday_background;
			}

			input[type="checkbox"] {
				display: none;
			}

			label {
				cursor: pointer;
				font-weight: bold;
				color: $success_color;
			}
			&.disabled label {
				color: $breakday_color;
			}
		}
	}

	div.information {
		padding: 5px 7px;
		border-radius: 5px;
		display: inline-block;
		margin-top: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;

		p {
			font-weight: bold;
			margin: 0;
		}

		&.success {
			background: $ok_color;
		}

		&.error {
			background: $error_color;
		}

		&.info {
			background: $secondary_color_light;
		}

		svg.spinner {
			margin-right: 15px;
			width: 1em;
			height: 1em;
			fill: $white
		}
	}

	.loading_button, button.delete {
		margin: 2rem 0 0 0;
	}

	button.delete {
		background: $error_color;
		color: $error_color_light;
		width: auto;

		svg {
			width: 1em;
			height: 1em;
			vertical-align: text-top;
		}
	}
}

.delete-confirm-popup {

	h1, p {
		color: $error_color_light;
	}

	.buttons {
		display: flex;
		gap: 2rem;
		margin-top: 2rem;

		.cancel {
			background: $secondary_color_light;
			color: $white;
		}

		.loading_button {
			width: 100%;
			margin: 0;

			button {
				width: 100%;
				background-color: $error_color;
				color: $error_color_light;
			}

			svg {
				fill: $error_color_light;
			}
		}
	}
}
