@import './partials/variables';
@import './partials/fonts';

@import './partials/navigation';

@import './partials/ui/toggle';
@import './partials/ui/loading_button';
@import './partials/ui/select';


html, body {
	margin: 0;
}

html {
	background-color: $background_color;
	font-family: $font-family;
	outline: none;
	color: $text_color;
}

* {
	font-family: $font-family;
	outline: none;
}

body {
	scrollbar-gutter: stable both-edges;
	overflow-x: hidden;
	margin: 0;
}

body.no-scroll {
	overflow: hidden;
}

a {
	text-decoration: none;
	color: $main_color;

	&:hover {
		text-decoration: underline;
	}
}

input {
	background: $background_color;
	border: solid 2px $interraction_element;
	border-radius: 5px;
	padding: 5px 7px;
	color: $text_color;
	margin: 0 0 15px 0;
	font-size: 1em;
	width: 100%;
	box-sizing: border-box;
}

button, a.button {
	border: none;
	border-radius: 5px;
	font-size: 1em;
	font-weight: bold;
	padding: 5px 7px;
	width: 100%;
	cursor: pointer;
	transition: 0.3s ease all;

	background-color: $button_background;
	color: $button_color;

	&:hover {
		background-color: $button_background_hover;
		color: $button_color_hover;
		text-decoration: none;
	}

	&.light {
		background-color: $light_button_background;
		color: $light_button_color;

		&:hover {
			background-color: $light_button_background_hover;
			color: $light_button_color_hover;
		}
	}
}

svg {
	vertical-align: sub;
}

svg.spinner {
	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	animation: spin 1s ease-in-out infinite;
}

/* APP */
#app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#content {
	margin: 45px auto 0 auto;
	max-width: 75rem;
	width: 100vw;
}
