@import './partials/variables';
@import './partials/fonts';

html, body {
	margin: 0;
}

html {
	background-color: $secondary_color;
	font-family: $font-family;
	outline: none;
	color: $white;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 75rem;
	margin: auto;
}

body.no-scroll {
	overflow: hidden;
}

a {
	text-decoration: none;
	color: $primary_color;

	&:hover {
		text-decoration: underline;
	}
}

input {
	background: $secondary_color_light;
	border: none;
	border-radius: 5px;
	padding: 5px 7px;
	color: $white;
	margin: 0 0 15px 0;
	font-size: 1em;
	width: 100%;
	box-sizing: border-box;

	&:focus {
		outline: $white 2px solid;
	}
}

button {
	background-color: $primary_color;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	color: $secondary_color;
	font-weight: bold;
	padding: 3px 7px 5px 7px;
	width: 100%;
	cursor: pointer;
}

svg {
	vertical-align: sub;
}

svg.spinner {
	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	animation: spin 1s ease-in-out infinite;
}

/* APP */
#logo {
	margin: 25px auto 45px auto;
	width: 13em;
	display: block;
}

#app {
	margin: 0 25px;
}
