@import './partials/variables';

#content {
	margin-top: 85px;
}

.form_box {
	max-width: 15em;
	margin: 0 auto;

	// border: solid 2px $secondary_color;
	border-radius: 15px;
	padding: 20px;
	box-shadow: $studydesk_shadow;

	overflow: hidden;

	h1 {
		margin: 0 0 20px 0;
		color: $main_color;
	}

	ul.errors {
		background: $error_color_light;
		color: $text_color_dark;
		padding: 10px 10px 10px 30px;
		border-radius: 5px;
		margin: 15px 0;
	}

	.submit_loading {
		button {
			width: 100%;
		}
	}

	p.change_type {
		margin: 15px 0 0 0;
	}

	button.demo {
		// background: $light_button_background;
		// color: $light_button_color;
		margin-top: 15px;

		// &:hover {
		// 	background: $light_button_background_hover;
		// 	color: $light_button_color_hover;
		// }
	}
}
