@import './partials/variables';

#app {
	margin: 0 15px;
}

.form_box {
	max-width: 15em;
	margin: 0 auto;

	border: solid 2px $secondary_color;
	border-radius: 15px;
	padding: 20px;
	box-shadow: $studydesk_shadow;

	overflow: hidden;

	h1 {
		margin: 0 0 20px 0;
		color: $primary_color;
	}

	ul.errors {
		background: $error_color_light;
		color: $secondary_color;
		padding: 10px 10px 10px 30px;
		border-radius: 5px;
		margin: 15px 0;
	}

	.submit_loading {
		button {
			width: 100%;
		}
	}

	p.change_type {
		margin: 15px 0 0 0;
	}

	button.demo {
		background: $secondary_color_lighter;
		color: $white;
		margin-top: 15px;
	}
}
