.select {
	position: relative;
	width: 100%;
	text-align: left;
	outline: none;
	margin: 0 0 15px 0;

	&:hover {
		.selected {
			border-color: $select_border_hover;
		}
		.items {
			border-color: $select_border_hover;
		}
	}

	.selected {
		background-color: $background_color;
		border-radius: 5px;
		color: $text_color;
		padding: 5px 7px;
		cursor: pointer;
		user-select: none;

		border: $interraction_element 2px solid;
		margin: -2px;

		&:hover{
			background-color: $select_background_hover;

			&:after {
				border-color: $select_border_hover transparent transparent transparent;
			}
		}

		&.open{
			border-radius: 5px 5px 0px 0px;

			&:after {
				top: 10px;
				transform: rotate(180deg);
			}
		}

		&:after {
			position: absolute;
			content: "";
			top: 14px;
			right: 10px;
			width: 0;
			height: 0;
			border: 5px solid transparent;
			border-color: $interraction_element transparent transparent transparent;
			transition: .1s ease-in-out transform;
		}
	}

	.items {
		color: $text_color;
		border-radius: 0px 0px 5px 5px;
		overflow: hidden;
		border: 2px solid $interraction_element;
		margin: 0px -2px -2px -2px;
		position: absolute;
		background-color: $background_color;
		left: 0;
		right: 0;
		z-index: 5;

		&.hide {
			display: none;
		}

		.item {
			color: $text_color;
			padding: 5px 7px;
			cursor: pointer;
			user-select: none;

			&:hover{
				background-color: $select_background_hover;
			}
		}
	}
}
