@import "general";

div.calendar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 14em;
	height: 18.2em;
	border: solid 2px var(--c_border);
	border-radius: 15px;
	padding: 20px;
}

div.calendar_info {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	width: 100%;

	p.calendar_month {
		color: var(--c_month);
		margin: 0 0 10px 10px;
		font-size: 1.1em;
	}

	div.streaksBox {
		display: flex;
		align-items: center;
		margin: 0 2px 0 0;

		p {
			color: var(--c_day);
			margin: 0;
			font-size: 1.3em;
			margin: 0 2px 0 0;
		}
		svg {
			width: 1.7em;
			height: 1.7em;
			fill: var(--c_dayname);

			&.done {
				fill: var(--c_success_background);
			}
		}
	}
}

div.calendar_grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	width: fit-content;
	grid-gap: 5px 3px;

	.day, .day_name {
		padding: 5px;
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			margin: 0;
			color: var(--c_day);
		}
	}

	.day_name {
		p {
			font-weight: bold;
			color: var(--c_dayname);
		}
	}

	.day {
		position: relative;

		&:not(.future) {
			cursor: pointer;
		}

		svg {
			position: absolute;
			width: 1.7em;
			height: 1.7em;
			z-index: -1;
			fill: transparent;
		}

		&.today {
			p {
				font-weight: bold;
			}
		}

		&.success:not(.future) {
			p {
				color: var(--c_success_color);
			}
			svg {
				fill: var(--c_success_background);
			}
		}

		&.fail:not(.future) {
			p {
				color: var(--c_fail_color);
			}
			svg {
				fill: var(--c_fail_background);
			}
		}

		&.freeze:not(.future) {
			p {
				color: var(--c_freeze_color);
			}
			svg {
				fill: var(--c_freeze_background);
			}
		}

		&.breakday:not(.future) {
			p {
				color: var(--c_breakday_color);
			}
			svg {
				fill: var(--c_breakday_background);
			}
		}
	}
}
