:root {
	--font-family: monospace, monospace;
	--c_background: #131f22;

	// Calendar header
	--c_caret: #fff;
	--c_title: #fff;
	// Calendar month
	--c_month: #fff;
	// Calendar grid
	--c_day: #a2c8d3;
	--c_dayname: #425d64;
	--c_border: #425d64;
	--c_fail_background: #ff000030;
	--c_fail_color: var(--c_day);
	--c_success_background: #ff9c13;
	--c_success_color: var(--c_background);
	--c_freeze_background: #6bcbf9;
	--c_freeze_color: var(--c_background);
	--c_breakday_background: #00b7ff54;
	--c_breakday_color: var(--c_day);
}

html {
	background-color: var(--c_background);
	font-family: var(--font-family);
	outline: none;
	margin: 8px;
}
