@import "general";

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

img#logo {
	margin: 25px auto 45px auto;
	width: 13em;
	display: block;
}

form#login_form {
	display: flex;
	flex-direction: column;
	width: 12em;
	border: solid 2px var(--c_border);
	border-radius: 15px;
	padding: 20px;

	p.form_error {
		color: rgb(224, 35, 35);
		margin: 0 0 15px 0;
	}

	input#password, input#username {
		background: var(--c_border);
		border: none;
		border-radius: 5px;
		padding: 5px;
		color: #fff;
		margin: 0 0 15px 0;
		font-size: 1em;
	}

	input#submit {
		background-color: var(--c_success_background);
		border: none;
		border-radius: 5px;
		font-size: 1em;
	}
}
