<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/general.css">
	<link rel="stylesheet" href="/styles/dashboard.css">
	<%- include("partial/favicon.ejs") %>
	<title>Dashboard - Streaks</title>
</head>
<body>
	<div id="app">
		<Dashboard :user="{
				_id: '<%= user._id %>',
				username: '<%= user.username %>',
				role: '<%= user.role %>',
			}"
		/>
	</div>

	<script src="/public/libs/luxon.min.js"></script>
	<script type="module">
		import { createApp } from '/public/libs/vue.esm-browser.prod.js'
		import Dashboard from '/public/components/dashboard/dashboard.js'

		createApp({
			components: {
				Dashboard
			},
		}).mount('#app')
	</script>
</body>
</html>
