<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/general.css">
	<link rel="stylesheet" href="/styles/login.css">
	<%- include("partial/favicon.ejs") %>
	<title>Account - Streaks</title>
</head>
<body>

	<img id="logo" src="/public/icons/logoname.svg" alt="streaks.json logo">

	<noscript>
		<strong>We're sorry but Streaks doesn't work
		properly without JavaScript enabled. Please enable it to
		continue.</strong>
	</noscript>

	<div id="app">
		<Login starting-type="<%= type %>" starting-registrations-enabled="<%= registrationsEnabled %>" starting-demo-user-enabled="<%= demoUserEnabled %>" />
	</div>

	<script type="module">
		import { createApp } from '/public/libs/vue.esm-browser.prod.js'
		import Login from '/public/components/login/login.js'

		createApp({
			components: {
				Login
			}
		}).mount('#app')
	</script>
</body>
</html>
