<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/styles/login.css">

	<%- include("partial/favicons.ejs") %>

	<title>Streaks - Login</title>
</head>
<body>
	<img id="logo" src="/icons/logoname.svg" alt="streaks.json logo">
	<form id="login_form" method="post" action="/login">
		<% if (error) { %>
			<p class="form_error"><%= errorMessage %></p>
		<% } %>
		<input type="text" id="username" name="username" placeholder="Username" value="<%= username %>"/>
		<input type="password" id="password" name="password" placeholder="Password"/>
		<input type="submit" id="submit" value="GO">
	</form>
</body>
</html>
