header {
	width: calc(100% - 25px * 2);
	padding: 0 25px;
	box-shadow: $studydesk_shadow;

	.header_wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 75rem;
		margin: auto;

		>div {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;

			&:last-child {
				justify-content: flex-end;
			}
		}

		@media (max-width: 450px) {
			flex-direction: column;

			>div {
				&:last-child {
					margin-bottom: 15px;
					justify-content: center;
				}
			}
		}
	}
}

#logo {
	margin: 0 25px;
	width: 13em;
	display: block;
}

.theme_select {
	margin-right: 20px;

	.select {
		width: calc(100% + 20px);
		margin: 0;
	}
}

a.logout {
	display: block;
	margin-left: 20px;

	&:hover {
		svg {
			stroke: $interraction_element_hover;
		}
	}

	svg {
		width: 1.5em;
		height: 1.5em;
		stroke: $interraction_element;
		animation: stroke .3s ease-in-out;
	}
}

a.register.button {
	margin-left: 20px;
	width: auto;
	// Add a border to be the same size as theme select
	border: 1px solid $button_background;

	&:hover {
		border-color: $button_background_hover;
	}
}

a.login {
	margin-left: 20px;
	font-weight: bold;
}
