$font-family: 'Fira Code', sans-serif;

$white: #fff;
$primary_color: #ff9c13;
$secondary_color: #131f22;
$secondary_color_light: #425d64;
$secondary_color_lighter: #a2c8d3;

$error_color: #690101;
$error_color_light: #eb5a5a;

$success_color: $secondary_color;
$success_background: $primary_color;
$fail_color: $secondary_color_lighter;
$fail_background: #3f191c;
$freeze_color: $secondary_color;
$freeze_background: #6bcbf9;
$breakday_color: $secondary_color_lighter;
$breakday_background: #0d516b;
