$font-family: 'Fira Code', sans-serif;

$studydesk_shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
$studydesk_shadow: rgba(13, 38, 76, 0.19) 0px 9px 20px;

$white: #425d64;
$primary_color: #ff9c13;
$secondary_color: #fff;
$secondary_color_light: #425d64;
$secondary_color_lighter: #a2c8d3;

$overlay_background: #0000003b;

$error_color: #690101;
$error_color_light: #e93c3c;

$ok_color: #037e2c;
$ok_color_light: #13a143;

$success_color: $secondary_color;
$success_background: $primary_color;
$success_text: $primary_color;

$fail_color: $secondary_color;
$fail_background: #e93c3c;
$fail_text: #e02323;

$freeze_color: $secondary_color;
$freeze_background: #6bcbf9;
$freeze_text: $freeze_background;

$breakday_color: $secondary_color_lighter;
$breakday_background: #0d516b;
